/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600&display=swap');

:root {
  --black: #2d2d2d;
  --white: #fff;
  --grey: #f3f3f3;
}

* {
  font-family: "Epilogue";
  margin: 0;
  padding: 0;
  color: var(--black);
  font-weight: 400;
  text-decoration: none;
}

h1 {
  font-size: 100px;
  font-weight: 600;
}

h2 {
  font-weight: 600;
  font-size: 32px;
}

h3 {
  font-size: 27px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 17px;
  font-weight: 400;
}

header {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  opacity: 0.95;
}

.hero,
.brands,
.skills,
.works,
.clients,
.feedback {
  margin: 15% auto;
}

.hero {
  margin-top: 10%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
  color: var(--black);
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.hero__left {
  flex-basis: 50%;
}

.hero__left h2 {
  margin-bottom: 60px;
}

.hero__left h1 {
  margin-bottom: 60px;
}

.hero__right {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.brands {
  display: flex;
  justify-content: space-between;
}

.skills {
  display: flex;
  align-items: center;
}

.skills__card {
  max-width: 400px;
  text-align: center;
  justify-content: center;
  margin-right: 90px;
}

.skills__card:last-child {
  margin-right: 0px;
}

.skills__card h3 {
  margin: 30px auto;
}

.works__h2 {
  display: flex;
  justify-content: center;
}

.works__row-cards {
  display: flex;
  justify-content: center;
}

.works__card {
  text-align: left;
  margin-right: 45px;
  width: 100%;
}

.works__card:last-child {
  margin-right: 0px;
}

.works__card img {
  margin-top: 60px;
  width: 100%;
}

.works__card h4 {
  margin-top: 15px;
}

.works__card p {
  margin-top: 10px;
}

.clients__h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.clients__row-cards {
  display: flex;
  justify-content: center;
}

.client__card {
  height: 300px;
  background-color: var(--grey);
  padding: 30px;
  margin-right: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.client__card:last-child {
  margin-right: 0px;
}

.client__card h4 {
  margin-bottom: auto;
}

.client__card-rating {
  display: flex;
  justify-content: left;
}

.client__card-rating > img {
  display: flex;
  align-items: flex-start;
  width: 60px;
  height: 60px;
  padding-right: 10px;
}

.client__card-rating-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.client__card-rating-info img,
span {
  padding: 10px;
}

.feedback {
  display: flex;
  justify-content: center;
}

.feedback__social {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-right: auto;
}

.feedback__social p {
  max-width: 400px;
  margin: 40px auto;
}

.feedback__social-icons img {
  padding: 10px;
}

.feedback__forms {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 50%;
}

.feedback__input {
  width: 100%;
  height: 70px;
  border: 0px;
  font-size: 17px;
  font-weight: 400;
  padding: 0 30px 0 30px;
  margin-bottom: 18px;
  background-color: var(--grey);
}

.feedback__forms textarea {
  height: 215px;
  margin-bottom: 36px;
  padding: 30px 30px 0 30px;
  resize: none;
}

.feedback__forms a {
  width: 35%;
  height: 80px;
  line-height: 80px;
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  background-color: var(--black);
  display: flex;
  justify-content: center;
  text-align: center;
}
