* {
    font-family: 'Epilogue';
    margin: 0;
    padding: 0;
    color: #2D2D2D;
    font-weight: 400;
} 

  header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    opacity: 0.95;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 80px;
    margin: 0 auto;
  }
  
  .logo span {
    margin-right: 20px;
    font-weight: 600;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
    color: #000;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
  }

  .hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 80px auto;
  }

  .container {
    width: 1280px;
    margin: 0 auto;
  }

  .hero__left {
    flex-basis: 50%;
  }

  .hero__left h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 60px;

  }

  .hero__left h1 {
    font-size: 100px;
    font-weight: 600;
    margin-bottom: 60px;
  }

  .hero__left p {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
  }

  .hero__right {
    flex-basis: 50%;
  }

  .hero__right img {
    width: 80%;
    display: flex;
    margin-left: auto;
  }

  .brands {
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
  }

  .skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .skills__card {
    max-width: 400px;
    text-align: center;
    justify-content: center;
    padding: 60px;
    margin-top: 40px;
  }

  .skills__card h3 {
    font-size: 27px;
    font-weight: 600;
    margin: 40px auto;
    color: #2D2D2D;

  }

  .skills__card p {
    font-size: 17px;
    font-weight: 400;
    margin-top: 40px auto;
    color: #2D2D2D;
  }

  .works__h2 {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 32px;
    margin-top: 80px;
  }

  .works__row-cards {
    display: flex;
    justify-content: center;
  }

  .works__card {
    text-align: left;
    margin-right: 45px;
    width: 100%;
  }

  .works__card:last-child {
    margin-right: 0px;
  }

  .works__card img {
    margin-top: 60px;
    width: 100%;
  }

  .works__card h4 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
  }

  .works__card p {
    margin-top: 20px;
    font-weight: 400;
    font-size: 17px;
  }

  .clients__h2 {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 32px;
    margin-top: 160px;
    margin-bottom: 60px;
  }

  .clients__row-cards {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }

  .client__card {
    height: 300px;
    background-color: #F3F3F3;
    padding: 30px;
    margin-right: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .client__card:last-child {
    margin-right: 0px;
  }

  .client__card h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: auto;
  }

  .client__card-rating {
    display: flex;
    justify-content: left;
  }

  .client__card-rating > img {
    display: flex;
    align-items: flex-start;
    width: 50px;
    height: 50px;
    padding-right: 10px;
  }

  .client__card-rating-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 17px;
    font-weight: 400px;
  }

  .client__card-rating-info img, span {
    padding: 10px;
  }




  